.login-container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    radial-gradient(circle at top left, #1b1b1b 0%, #0b0b0b 45%, #050505 100%);
}

.login-card {
  width: 420px;

  background: rgba(18,18,18,0.75);

  border: 1px solid rgba(255,255,255,0.05);

  border-radius: 28px;

  padding: 45px;

  backdrop-filter: blur(18px);

  box-shadow:
    0 0 60px rgba(244,185,66,0.06);
}

.login-logo {
  width: 120px;
  display: block;
  margin: 0 auto 20px;
}

.login-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 8px;
}

.login-subtitle {
  color: #777;
  margin-bottom: 30px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.login-input {
  background: rgba(255,255,255,0.03);

  border: 1px solid rgba(255,255,255,0.06);

  height: 56px;

  border-radius: 16px;

  padding: 0 18px;

  color: white;

  font-size: 15px;

  transition: 0.2s;

  backdrop-filter: blur(8px);
}


.login-input::placeholder {
  color: #666;
}


.login-input:focus {
  outline: none;

  border-color: #f4b942;

  box-shadow: 0 0 0 4px rgba(244,185,66,0.12);
}

.login-button {
  height: 52px;

  border: none;

  border-radius: 14px;

  background: #f4b942;

  color: #111;

  font-weight: 700;

  font-size: 15px;

  cursor: pointer;

  transition: 0.2s;
}

.login-button:hover {
  transform: translateY(-2px);

  opacity: 0.95;
}

.login-error {
  color: #ff6b6b;
  margin-top: 10px;
  font-size: 14px;
}